@font-face {
  font-family: 'Brigends Expanded';
  src: url(fonts/Brigends\ Expanded.otf);
    font-family: 'Tempting';
  src: url(fonts/Tempting\ -\ PERSONAL\ USE\ ONLY\ copy.ttf);
}
body {
    font-family: 'Brigends Expanded', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  label {
    display: inline-block;
    cursor: pointer;
    background-color: #000000; 
    color: #ff0073; 
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
  }
  .image-container {
    display: none;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img {
    max-width: 100%;
    width: 500px;
    height: 600px;
    transition: transform 0.3s ease-in-out;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  a {
    display: block;
    text-decoration: none;
  }
  footer {
    text-align: left;
    padding: 10px;
    color: #fff;
    font-family: 'Tempting', sans-serif;
    position: absolute;
    width: 100%;
  }

  footer a:hover {
    color: #ff0090;
  }
  footer2 {
    text-align: right;
    color: #fff;
    font-family: 'Tempting', sans-serif;
  }

  footer2 a:hover {
    color: #ff0090;
  }