@font-face {
    font-family: 'Brigends Expanded';
    src: url('fonts/Brigends\ Expanded.otf');
}
@font-face {
    font-family: 'Tempting';
    src: url('fonts/Tempting - PERSONAL USE ONLY.ttf');
}
html {
    cursor: url('cursor/customcursor.cur'), auto!important;
  }
body {
    font-family: 'Brigends Expanded', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    cursor: url('cursor/customcursor.cur'), auto;
    background-image: url('maximizing-closet-space.png');
}
h1{
    font-size: 80px;
    font-family: 'Brigends Expanded', sans-serif;
    margin: 5%;
    line-height: 90%;
    margin-bottom: 30px; 
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Tempting', cursive;
}

footer a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-family: 'Tempting', cursive;
    font-size: 15px;
}

footer a:hover {
    color: #ff0073;
    text-decoration: none;
    font-family: 'Tempting', cursive;
    cursor: url('cursor/customclicker.cur'), auto;
    font-size: 15px;
}
