body {
    margin: 0;
    padding: 20px;
    font-family: 'BebasNeue-Regular', sans-serif;
    background-image: url('IMG_8913.jpeg');
    background-size: contain;
    text-align: center; 
    font-size: 24px;
}

img {
    max-width: 10%; 
    height: auto; 
    margin-bottom: 20px; 
}

a {
    display: block;
    color: #ffffff; 
    margin: 100px 0;
    text-align: center;
}

@media (max-height: 650px) {
    body {
      background-color: orange;
    }
}

a:hover {
    color: #FF69B4;
}
