body {
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-image: url('IMG_8913.jpeg');
    background-size: contain;
    text-align: center; 
}

img {
    max-width: 10%; 
    height: auto; 
    margin-bottom: 20px; 
}

a {
    display: block;
    color: #ff00ae; 
    text-decoration: none; 
    margin: 100px 0;
    text-align: center;
}

@media (max-height: 650px) {
    body {
      background-color: orange;
    }
}

a:hover {
    color: #FF69B4;
}
